# ---- Python ----
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# ---- Flask outputs ----
outputs/
instance/
*.log

# ---- Angular ----
node_modules/
dist/
.angular/
*.log

# ---- IDE / OS ----
.vscode/
.idea/
.DS_Store
Thumbs.db

# ---- Environment files ----
.env
