# ===================================
# Node / Angular
# ===================================
node_modules/
dist/
tmp/
temp/
.angular/
.angular/cache/
*.log

# IDEs
.vscode/
.idea/
*.swp

# ===================================
# Python / Flask
# ===================================
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Virtual environments
venv/
ENV/
env/
.venv/

# ===================================
# OS files
# ===================================
.DS_Store
Thumbs.db

# ===================================
# Outputs téléchargés
# ===================================
outputs/
