<div class="filter-card">
  <h2>Sélectionnez vos critères de filtrage</h2>

  <!-- Name -->
  <div class="filter-field">
    <label>Nom du filtre:</label>
    <input type="text" [(ngModel)]="extraction_filter.name" name="name" required />
    <small *ngIf="extraction_filter.name.trim() === ''" class="error-msg">
      Ce champ est requis
    </small>
  </div>

      <!-- Fields -->
    <div class="filter-field">
      <label>Champs à Extraire:</label>

      <div class="fields-list">
        <div *ngFor="let f of extraction_filter.fields; let i = index" class="field-item">
          {{ f }}
          <button type="button" class="remove-btn" (click)="removeField(i)">×</button>
        </div>
      </div>


  <!-- <pre>{{ remainingFields }}</pre> -->

      <div class="field-input">
        <select [(ngModel)]="newField" [disabled]="remainingFields.length === 0">
          <option value="">-- Choisir un champ --</option>
          <option *ngFor="let field of remainingFields" [value]="field">
            {{ field }}
          </option>
        </select>
        <button type="button" (click)="addField()" [disabled]="!newField">Ajouter</button>
      </div>

      <small *ngIf="extraction_filter.fields.length === 0" class="error-msg">
        Au moins un champ est requis
      </small>
      <small *ngIf="remainingFields.length === 0" class="error-msg">
        Tous les champs disponibles ont été ajoutés.
      </small>
    </div>


  <!-- Période -->
  <div class="filter-field">
    <label>Période :</label>
    <div class="period-row">


      <div class="date-input">
        <input type="date" [(ngModel)]="extraction_filter.startDate" name="startDate" required />
        <small *ngIf="!isFormValid() && extraction_filter.startDate.trim() === '' && extraction_filter.endDate.trim() === '' && extraction_filter.monitoringLocation.trim() === ''" class="error-msg">
          Vous devez définir soit une période, soit un code de lieu d'observation, soit les deux.
        </small>
      </div>

      <div class="date-input">
        <input type="date" [(ngModel)]="extraction_filter.endDate" name="endDate" required />
        <small *ngIf="!isFormValid() && extraction_filter.startDate.trim() === '' && extraction_filter.endDate.trim() === '' && extraction_filter.monitoringLocation.trim() === ''" class="error-msg">
          Vous devez définir soit une période, soit un code de lieu d'observation, soit les deux.
        </small>
      </div>
    </div>
  </div>

  <!-- Monitoring location -->
  <div class="filter-field">
    <label>Code du lieu d'observation</label>
    <input type="text" [(ngModel)]="extraction_filter.monitoringLocation" name="monitoringLocation" required />
      <small *ngIf="!isFormValid() && extraction_filter.startDate.trim() === '' && extraction_filter.endDate.trim() === '' && extraction_filter.monitoringLocation.trim() === ''" class="error-msg">
        Vous devez définir soit une période, soit un code de lieu d'observation, soit les deux.
      </small>
  </div>

  <!-- Actions -->
  <div class="filter-actions">
    <button [disabled]="!isFormValid()" (click)="applyFilter()">Appliquer</button>
    <button (click)="close.emit()">Fermer</button>
  </div>
</div>
